HTML, body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    line-height: 1.4;
    font-family: Hind, sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

h1, h3 {
    margin: 0;
}

h4 {
    font-weight: 700;
    font-size: 22px;
}

.bold {
    font-weight: bolder;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.grey-text {
    color: #a6a7aa;
    font-weight: lighter;
}

.padding {
    padding-left: 5%;
    padding-right: 5%;
}

header {
    padding: 35px 10% 35px 10%;
    border-radius: 10px;
    position: fixed;
    top: 0;
    background: white;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    z-index: 2;
    border-bottom: 1px solid #edf0f2;
    align-items: center;
    font-size: 13px;
}

li a {
    text-decoration: none;
    color: #494949;
    margin-left: 20px;
}

nav a .dash {
    margin-right: 8px;
    color: #17bed2;
    font-weight: bold;
    visibility: hidden;
    vertical-align: text-bottom;
}

.active .dash {
    color: #17bed2;
    visibility: visible;
    margin-right: 8px;
    font-weight: bold;
    transition-duration: .4s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.7, 1, .7, 1);
    vertical-align: text-bottom;
}

#home {
    height: 100vh;
    background-size: cover;
    background: url(./img/1920x1080/01.jpg) no-repeat center;
    text-align: center;
    font-size: 30px;
    color: white;
    opacity: 0.85;
}

#home a {
    background-color: white;
    border: none;
    color: black;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

#home button {
    padding: 0;
    margin: 0;
}

#home .fas {
    margin-right: 20px;
}

.section {
    padding: 100px 10%;
}

.text-center {
    text-align: center;
}

.section h2 {
    font-size: 30px;
    padding-right: 15px;
    padding-left: 15px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products-images {
    margin-top: 50px;
}

.black-text {
    color: #494949;
    opacity: 0.7;
}

.black-text-headlines {
    color: #323232d6;
    font-weight: 700;
    font-size: 22px;
}

.a-hover {
    font-size: 13px;
    color: #323232d6;
}

.dash {
    color: #17bed2;
    margin-left: 6px;
    margin-right: 6px;
    font-weight: bold;
    vertical-align: text-bottom;
}

.products-images img {
    width: 100%;
}

.product-two-images {
    display: flex;
    justify-content: space-between;
}

.product-two-images img {
    width: 100%;
}

.one-of-two {
    width: 50%;
    height: auto;
}

.one-of-two:hover {
    cursor: pointer;
}

.image-margin {
    margin-right: 4px;
}

#service, #pricing {
    background-color: #e9e9e959;
}

.service-item {
    background-color: white;
    margin: 2px;
    height: 13em;
    padding: 50px;
    cursor: pointer;
}

.service-item .fas, .far {
    font-size: 30px;
    opacity: 0.5;
}

.blue {
    color: white;
    background-color: #52bcce;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.inline-images div {
    margin-left: 2px;
    margin-top: 2px;
}

.display-result {
    height: 50vh;
    background: url(./img/1920x1080/02.jpg) fixed center no-repeat;
    background-size: cover;
    opacity: 0.85;
    color: white;
}

.display-result h2 {
    font-size: 50px;
}

.display-result p {
    opacity: 0.7;
    font-weight: lighter;
}

.pricing-item {
    background-color: white;
    margin: 2px;
    height: 350px;
    padding: 70px 45px;
    transition: all 0.3s;
    transition-timing-function: ease-in;
    border: none;
}

#pricing .fas, .far {
    font-size: 30px;
    opacity: 0.5;
}

#pricing li {
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 500;
}

#pricing ul {
    margin-bottom: 40px;
    list-style: none;
    padding: 0;
}

#pricing p, .service-item p {
    line-height: 1.4;
}

#pricing p {
    margin-bottom: 20px;
}

#pricing button {
    background-color: #e9e9e959;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    padding: 15px 40px;
}

#pricing button:hover {
    background-color: #52bcce;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: 0.3s;
    font-size: 13px;
    font-weight: 600;
    padding: 15px 40px;
}

blockquote p {
    font-size: 17px;
    font-weight: lighter;
    color: #a6a7aa;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    right: 0;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(81, 87, 105, .4);
    transition-duration: .3s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.7, 1, .7, 1);

}

/* Modal Content/Box */
.modal-content {
    position: absolute;
    left: 0;
    right: 0;
    width: 730px;
    height: auto;
    display: block;
    background: #fff;
    padding: 30px;
    transition-duration: .3s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.7, 1, .7, 1);

    margin: 15% auto; /* 15% from the top and centered */
}

/* The Close Button */
.close {
    float: right;
    font-size: 13px;
    font-weight: 500;
    color: #c5c6cb;
    transition-duration: .3s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.7, 1, .7, 1);
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.inside-modal {
    display: flex;
    justify-content: space-between;
}

.inside-modal-left {
    border-right: 1px solid #edf0f2;
    padding-right: 20px;
}

.inside-modal-right {
    padding-left: 20px;
    font-size: 15px;
    font-weight: lighter;
    color: #6c6c6ce8;
}

.inside-modal-right span {
    font-weight: bolder;
}

#slides {
    position: relative;
    height: 200px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    z-index: 1;
}

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.showing {
    opacity: 1;
    z-index: 2;
}

#slides i {
    font-size: 30px;
    display: inline-block;
    color: #17bed2;
}

#reviews {
    padding-bottom: 0;
}

#contact {
    padding-top: 120px;
}

#contact p {
    padding: 30px;
    margin: 0;
    border-bottom: 1px solid #edf0f2;
    color: #515769;
    font-size: 15px;
    font-weight: lighter;
}

#footer-links {
    display: flex;
    justify-content: space-around;
}

#footer-links a {
    font-size: 14px;
    color: #333;
    margin-bottom: 15px;
}

#footer {
    padding: 40px 10%;
    border-top: 1px solid #edf0f2;
}

#footer p {
    margin: 0;
    font-size: 15px;
    font-weight: lighter;
}

#footer img {
    height: 20px;
}

#topBtn {
    opacity: .4;
    z-index: 9;
    width: 40px;
    height: 40px;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 1px;
    background: #515769;
    border-radius: 3px;
    padding: 5px;
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */

}

#topBtn:hover {
    opacity: 0.8;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition-duration: .3s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.7, 1, .7, 1)
}

.navbar {
    box-sizing: border-box;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}

.navbar img {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
}

.navbar-toggle {
    position: absolute;
    top: 40px;
    right: 20px;
    cursor: pointer;
    color: #17bed2;
    font-size: 24px;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.active-nav {
    display: block;
}

@media only screen and (min-width: 769px) {

    nav a:hover .dash {
        color: #17bed2;
        visibility: visible;
        margin-right: 8px;
        font-weight: bold;
        transition-duration: .4s;
        transition-property: all;
        transition-timing-function: cubic-bezier(.7, 1, .7, 1);
        vertical-align: text-bottom;
    }

    #home a:hover {
        background-color: #52bcce;
        border: none;
        color: white;
        padding: 20px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        cursor: pointer;
        transition: 0.3s;
    }

    .products-images {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;

    }

    .a-hover a:hover {
        opacity: 0.7;
    }

    .product-image {
        margin-right: 30px;
    }

    .inline-images {
        display: flex;
        justify-content: space-between;
    }

    #work {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #work img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .bigger-image {
        width: 66.5%;
        height: auto;
        transition: all 0.4s;
    }

    .smaller-image {
        width: 33%;
        height: auto;
        transition: all 0.3s;
    }

    .bigger-image:hover, .smaller-image:hover {
        cursor: pointer;
        opacity: 0.5;
    }

    .bigger-image img, .smaller-image img {
        width: 100%;
    }

    .pricing-items {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .pricing-item:hover {
        transform: scale(1.05);
        border: 1px solid #edf0f2;
    }

    .service-item:hover i {
        display: none;
        transition: 1s;
        cursor: pointer;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
    }

    .main-nav {
        display: flex;
    }

    .main-nav li {
        margin: 0;
    }

    .navbar-toggle {
        display: none;
    }

}

@media only screen and (max-width: 992px) {
    .section {
        padding: 80px 0;
    }

    li a {
        margin-left: 5px;
    }

    #home p {
        padding: 0 5px;
    }

    header {
        padding: 20px 50px 20px 50px;
    }

    #home {
        margin-top: 80px;
    }
}

@media only screen and (max-width: 768px) {

    header {
        padding: 20px 50px 20px 50px;
    }

    #home {
        margin-top: 80px;
    }

    #work img {
        width: 100%;
        height: auto;
    }

    #service, #products, #pricing {
        padding-left: 15px;
        padding-right: 15px;
    }

    .display-result {
        height: 70vh;

    }

    .modal {
        display: none; /* Hidden by default */

    }

    #slides {
        margin: 0px 0px 80px 10px;
    }

    .navbar-toggle {
        top: 25px;
    }

    header ul {
        padding-left: 0;
        margin: 0;
    }

    /* Modal Content/Box */
    .modal-content {
        position: absolute;
        left: 10px;
        right: 10px;
        top: 30px;
        width: 95%;
        padding: 0;
    }

    .modal-content-inside {
        padding: 30px;
    }

    /* The Close Button */
    .close {
        position: absolute;
        top: 30px;
        right: 30px;
    }

    #footer {
        padding-left: 15px;
        padding-right: 15px;
        text-align: right;
    }

}